@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "outfit", sans-serif;
}

.card{
    background-color: white;
    width: 350px;
    border-radius: 1rem;
}

.card-countainer{
    display: flex;
    flex-direction: column;
}

.header img{
    border-radius: 1rem 1rem 0 0;
    width: 350px;
}

.main{
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title{
    color: var(--Dark-blue);
}

.title h2{
    margin-bottom: 10px;
}

.content{
    color: var(--Desaturated-blue);
    font-weight: 500;
}

.content p{
    margin-bottom: 10px;
}

.plan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Very-pale-blue);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 15px;
    
}

.plan img{
    width: 15%;
    height: auto;

}

.plan div{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.plan-info{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    
   
}

.plan-info b{
    color: var(--Dark-blue);
    margin-left: -50px;
    
    
}

.plan-info span{
    color: var(--Desaturated-blue);
    margin-left: -50px;

}

.link{
    text-decoration: underline;
    color: var(--Bright-blue);
    font-weight: 700;
    cursor: pointer;
}

.link:hover{
    text-decoration: none;
    opacity: 70%;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btns button{
    padding: .7rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.pay-btn{
    background-color: var(--Bright-blue);
    color: white;
}

.pay-btn:hover{
    opacity: 75%;
}

.cancel-btn{
    color: var(--Desaturated-blue);
    font-weight: 700;
    background-color: white;
}

.cancel-btn:hover{
    color: var(--Dark-blue);
}

















